* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  --main-color: #343cff;
  --sec-color:#23272A;
}
nav {
  height: 5rem;
  width: 100%;
  background-color: var(--main-color);
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 50px;
  z-index: 1000;
}
nav ul {
  width: 30rem;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
}
li {
  position: relative;
  display: inline-block;
}
li:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: #ffff;
  transition: width 0.3s ease-in-out;
}
li:hover:after {
  width: 100%;
}

nav ul li a {
  font-size: 18px;
  color: #ffff;
  text-decoration: none;
  font-weight: bold;
}
header {
  background-image: url(assets/banner.jpg);
  height: 100vh;
  background-size: cover;
  position: relative;
  z-index: -1;
}
header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000ba;
}
.text {
  position: absolute;
  top: 50%;
  color: #fff;
  width: 500px;
  margin-left: 50px;
}
.text h1 {
  margin: 20px;
  border-bottom: 2px solid var(--main-color);
  width: fit-content;
}

.text p {
  line-height: 2;
  font-size: 18px;
}
.our-works {
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  height: 60vh;
  align-items: center;
}
.works-container {
  width: 80%;
  height: 80%;
  display: flex;
}
.img-container {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.our-works h2 {
  height: 10%;
  text-decoration: underline;
  text-decoration-color: #343cff;
}
.img-container h3 {
  padding-top: 4px;
  height: 12%;
  width: 100%;
  background-color: #343cff;
  color: white;
  position: absolute;
  bottom: 0;
  z-index: 10;
}
.img-container h3:first-child {
  top: 0;
}
@keyframes animate {
  25% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1.7) rotate(10deg);
  }
}

.img-container img:hover{
    cursor: pointer;
    /* transition-duration: .5s; */
    animation: animate 1.5s ease-in-out forwards;
}

.contact-us-container{
  padding-top: 10px;
  width: 100%;
  height: 52vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-us{
  display: flex;
  justify-content: center;
  width: 80%;
  height: 90%;
}
.contact-us-container h2{
  width: 100%;
  height: 10%;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #343CFF ;
}
.contact-us-child{
  width: 50%;
  height: 100%;
}
.contact-us-form h3{
  margin-top: 3%;
  margin-left: 1.5%;
}
.contact-us-form form{
  width: 100%;
  height: 80%;
}
.contact-us-form form .input-1{
  width: 49%;
  height: 18%;
  border: none;
  background-color: gry;
  border-radius: 15px;
  margin-left: 1%;
}
.contact-us-form form input{
  width: 99%;
  height: 18%;
  border: none;
  background-color: rgb(211, 211, 211);
  border-radius: 15px;
  margin: 2% 0 0 1.5%;
  text-indent: 10px;
  color: black !important;
}
.subject-input{
  height: 27% !important ;
}
.send-input{
  width: 26% !important;
  background-color: #343CFF !important ;
  font-weight: 800;
  padding-right: 5px;
  color: white !important;
}
.send-input:hover{
  cursor: pointer;
}
.get-in-touch{
  padding-top: 2%;
  text-align: center;
}
.get-in-touch p{
  font-size: 22px;
  font-weight: 800;
}
.get-in-touch img{
  background-color:#343CFF;
  border-radius: 5px;
  height: 50px;
  padding: 0 10px;
}
.img-container img:hover {
  cursor: pointer;
  /* transition-duration: .5s; */
  animation: animate 1.5s ease-in-out forwards;
}
.team {
  margin-top: 100px;
  background-color: var(--sec-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.team h1 {
  color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 40px;
  border-bottom: 2px solid var(--main-color);
  width: fit-content;
}
.cards {
  display: flex;
}
.card {
  background-color: #1a1a1a;
  padding: 40px;
  margin: 40px;
  border-radius: 15px;
  color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
}
.card img {
  margin-bottom: 20px;
}
.card .text-card {
  text-align: center;
}
.card .text-card h2 {
  margin-bottom: 20px;
}
